extends ../template/layout

block content
	section.profile
		br
		br
		br
		h1 hay guy
		p you are #{name}
		p and your email address is #{email}
		br
		p o ya hay btw here is hash:: #{hash} ::
		p an here is ur derp file
		a(href='data:application/octet-stream;charset=utf-8,#{hash}', download='key.drp') LINK: here is ur derp file :P
		br
		br
		p for debugging, your req.userid #{userId}

